* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    font: 13px Helvetica, Arial; 
}

.users {
    float:left;
    width:10%;
    border-right:1px solid #c9d0da;
    height:100%;
    padding:10px;
	padding-right:0;
}

.users #heading {
    color:#286090;
    font-weight:600;
    padding-bottom:5px;
    font-size:15px;
}

#users {
    height:70%;
    overflow-y:auto;
    font-size:15px;
}

#icons {
    bottom:4%;
    position:absolute;
    width:10%;
    text-align:center;
}

.container {
    float:left;
    width:23%;
    height:100%;
    padding-left:0px;
	padding-right:0px;
    border-right:1px solid #c9d0da;
	overflow: auto;
}

#messages { 
    width:100%;
    height:69%;
    overflow-y:auto;
    padding-top:10px;
	padding-left:15px;
	padding-right:15px;
    list-style-type: none; 
}

#messages li { 
    padding: 5px 5px;
	text-align:center;
	color: #9197a3;
}

#messages div {
    word-wrap: break-word;
}

#forms {
	width: 100%;
}

#search {
	border:0;
	border-top:1px solid #c9d0da;
	border-bottom:1px solid #c9d0da;
}

#m { 
    resize:none;
	border:0;
	border-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#features {
	border:0;
}

form .btn-primary { 
	width:100%;
	margin-top:4px;
}

.dropup #default {
	opacity:0.6;
}

.dropup .btn {
	border:0;
}

.dropup .dropdown-menu {
	cursor:pointer;
}

.open > .dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover,
.dropup .btn-default:focus,.dropup .btn-default:hover{
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
	outline:none;	
}

#tracks {
    float:left;
    height:95%;
    overflow-y:auto;
    padding:10px;
    width:30%;
}

#player {
    float:right;
    width:37%;
}

@media (max-width:1100px) {
    .users {
        width:12%;
    }
    #player {
        width:35%;
    }
    #icons {
        width:12%;
    }
}

@media (max-width:1100px) {
    .search {  
        bottom: 10%; 
    }
}

@media (max-width:850px) {
	.users, #icons {
        display:none;
    }
    .container {
        width:100%;
        float:none;
        height:450px;
        margin-bottom:25px;
        border:none;
    }
    #player {
        width:100%;
        float:none;
        padding-left:15px;
        padding-right:15px;
        padding-top:15px;
    }
    
    #tracks {
        height:200px;
        width:100%;
        padding-left:15px;
        padding-right:15px;
        display:none;
    }
}