* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    font: 13px Helvetica, Arial; 
}

.container {
     float:left;
     width:90%;
}

form { 
    position: fixed; 
    bottom: 30%; 
    width: 100%; 
}

form .form-control { 
    border: 0; 
    width: 75%; 
    float:left;
    border:1px solid #c9d0da;
}

form .btn-primary { 
    width: 5%; 
    border: none; 
    
}

#messages { 
    width:100%;
    height:300px;
    overflow-y:auto;
    padding:10px;
    list-style-type: none; 
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
    background: #eee; 
}

.users {
    float:left;
    width:10%;
    border-right:1px solid #c9d0da;
    height:100%;
    padding:10px;
    overflow:scroll-y;
}