* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    font: 13px Helvetica, Arial; 
}

.container {
     float:left;
     width:90%;
}

form { 
    position: fixed; 
    bottom: 5%; 
    width: 20%;
    
}

form .form-control { 
    border: 0;    
    float:left;
    border:1px solid #c9d0da;
    resize:none;
}

form .btn-primary { 
    width: 100%; 
    border: none; 
    margin-top:5px;
}

#messages { 
    width:23%;
    height:350px;
    overflow-y:auto;
    padding-top:10px;
    list-style-type: none; 
}

#messages li { 
    padding: 5px 5px;
    margin-bottom: 17px;
}

#messages div {
    word-wrap: break-word;
}

#messages li { 
    background: #eee; 
}

.users {
    float:left;
    width:10%;
    border-right:1px solid #c9d0da;
    height:100%;
    padding:10px;
    overflow:scroll-y;
}