extends layout

block title
    title !{title} | CONSIL.IO

block append head
     link(rel="stylesheet", href="/static/css/chat.css")

block content
    include chat.html
        
block append scripts
    script(src="//connect.soundcloud.com/sdk-2.0.0.js")
    script(src="/static/js/static/soundcloud_api.js")
    script(src="/static/js/static/jquery.timeago.js")
    script(src="/static/js/chat.js")
    script(src="/static/js/music.js")
    script(src="/static/js/emoji-images.js")