extends layout

block append title
    meta(name="description", content="Listen to this chat.")

block content
    include rooms.html
    -if(message)
        script.
            alert('#{message}');
    
block append scripts
    script(src="/static/rooms.js")